<div class="ui tablet computer only padded grid">
  <div class="ui top fixed borderless inverted fluid menu">
    <div class="ui container">
      <a class="header item" href="<%= root_path %>">Pet Care</a>
      <a class="item" href="<%= about_path %>">About</a>
      <div class="ui simple dropdown item">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div>
      <div class="right menu">
        <div class="item">
          <div class="field">
            <%= button_to 'Log in', login_path, method: :get, class: "ui green button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui mobile only padded grid">
  <div class="ui top fixed borderless fluid inverted huge menu">
    <a class="header item">Pet Care</a>
    <a href="#" class="item">Home</a>
    <div class="ui simple dropdown item">
      Dropdown <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">Link Item</a>
        <a class="item" href="#">Link Item</a>
        <div class="divider"></div>
        <div class="header">Header Item</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Sub Menu
          <div class="menu">
            <a class="item" href="#">Link Item</a>
            <a class="item" href="#">Link Item</a>
          </div>
        </div>
        <a class="item" href="#">Link Item</a>
      </div>
    </div>
    <div class="right menu">
      <div class="item">
        <button class="ui icon toggle basic inverted button">
          <i class="content icon"></i>
        </button>
      </div>
    </div>
    <div class="ui vertical borderless inverted fluid menu">
      <div class="item">
        <div class="field">
          <button class="ui green button">Sign in</button>
        </div>
      </div>
    </div>
  </div>
</div>