<br/>
<div class="container">
  <p style="color: green"><%= notice %></p>

  <div id="pets">

    <table class="table table-striped table-bordered">
      <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
          <% @pets.each do |pet| %>
              <tr>
                <td><%= pet.name %></td>
                <td><%= pet.birthday %></td>
                <td>Edit</td>
                <td>Delete</td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "New pet", new_pet_path %>
</div>