<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Pet Care, <%= @user.name %></h1>
<p>
  In order to use Pet Care, please activate your account:
</p>
<p>
  <a href="<%= @activation_link %>">Activate Account</a>
</p>

</body>
</html>
